.frame {
  width: 100%;
  box-shadow: rgb(200, 200, 200) 0px 2px 3px 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  animation-name: identifier;
  animation-duration: 0.5s;
}
@keyframes identifier {
  from {
    scale: 0;
    opacity: 0;
    margin-left: -50%;
  }
  to {
    scale: 1;
    opacity: 1;
    margin-left: 0%;
  }
}
.div1 {
  display: flex;
}
.buttonDiv {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
}
.checkBtn {
  background-color: #fff27e;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.modifyBtn {
  background-color: #7effd1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.checkBtn:hover {
  background-color: #f3e13f;
}
.modifyBtn:hover {
  background-color: #44f8b9;
}

.modifyBtn_icon,
.checkBtn_icon {
  margin-right: 5px;
}
.deleteBtn {
  color: #ff7b7b;
  border: #ff7b7b solid 2px;
  border-radius: 50%;
  background-color: #fff;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteBtn:hover {
  background-color: #ff7b7b;
  transition: all 0.2s;
  color: #fff;
}
